.cont-card{
    display: flex;
    justify-content: center;
    height:auto;
    width: auto;
    /* background-color:slategrey; */
    margin-top: 20px;
    
}

.cont-main-card{
    height:200px;
    width:250px;
    background-color:  #ccffee;
    margin:15px;
    border-radius: 8px;
   
    padding-left: 12px;
}
.last-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
    
}
.contact-side{
    text-align: center;
    margin-top: 20px;
    font-size:28px;
}

.add-image{
    border-radius: 50%;
    height:60px;
    width:60px;
    margin:5px 0px 10px 5px;
}