.projects{
    
    text-align: center;
    margin-top: 35px;
}

.pro-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.ba-container{
    display: flex;
   justify-content: center;
   
    height:auto;
    width: 100%;
    /* background-color:slategrey; */
    padding-left: 10px;
    padding-bottom: 7px;
    margin-top: 12px;
}

.title-card{
    height:auto;
    width: 580px;
    background-color:antiquewhite;
    margin:15px;
    gap: 20px;
    padding-left: 6px;

}